<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
</style>
</head>
<body>

<h1>WELCOME CUSTOMER</h1>


@*<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/Services/Add" >Add Service</a></h2>
</div>


<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/Products/Add" >Add Product</a></h2>
</div>

*@

<style>
body {
  background-color:lightcyan;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 80%;
}
</style>

<div class="form-group mt-md-4">
<h2><a class="btn btn-success " href="~/BookProduct/CustomerIndex" >View All Products</a></h2>
</div>

<div class="form-group mt-md-4">
<h2><a class="btn btn-warning " href="~/BookService/CustomerIndex" >View All Services</a></h2>
</div>

</body>
</html>